<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script type="text/javascript" src="../js/js.cookie.js"></script>
    </head>


    <nav><a href="/"><img id="logo" src="https://ga-cms-production-herokuapp-com.global.ssl.fastly.net/assets/ga-lockup-e7ca2ce7bf63573ee4ffb09b031e2ce0.png" width="25%"></a>
      </nav>

    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>

      
      <div id="main">

		<h1 align="center">Welcome to Gimme Access!</h1>

    <img id="mahk-main" src="https://i.imgur.com/T6KkKIQ.png">

		<p>To gain access to your immersive course materials, make sure your GA email is setup and that you have a GitHub account with your GA email address.  Then, select what course you're teaching and click "Gimme" to get an invite to the appropriate GitHub organization.</p>

		<form method="GET" action="/oauth-request">
			
			<select id="dropdown" name="course">
			  <option value="wdi">Web Development Immersive</option>
			  <option value="dsi">Data Science Immersive</option>
			  <option value="iosi">iOS Immersive</option>
			  <option value="adi">Android Development Immersive</option>
			</select>


			<p><button class="btn waves-effect waves-light" type="submit" name="action">Gimme</button></p>
		</form>

    <!-- <a href="#" class="clear-cookies">Clear Your Cookies!</a> -->


		</div>

    </body>
  </html>

  <script type="text/javascript">

          $(document).ready(function() {
            $(".clear-cookies").click(function() {
                event.preventDefault(); 
                $.get('/destroy-session');
                var cookies = document.cookie.split(";");
                for(var i=0; i < cookies.length; i++) {
                    var equals = cookies[i].indexOf("=");
                    var name = equals > -1 ? cookies[i].substr(0, equals) : cookies[i];
                    document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
                }
                location.reload(); 
            });
        });

  </script>